<div id="peace">
  <div id="input-container">
    <div id="box">
      <input class="head" type="text" [(ngModel)]="newRoom" placeholder="Enter Room ID...">
      <input class="head" type="text" [(ngModel)]="userName" placeholder="Enter your name...">
      <button class="btn" (click)="joinRoom()">Join</button>
    </div>
    <div id="sen">
      <input class="head" type="text" [(ngModel)]="newMessage" placeholder="Enter your message...">
      <button class="btn" (click)="sendMessages()">Send</button>
    </div>
  </div>
</div>

<div class="chatbox">
  <div class="message-container">
      <div *ngFor="let message of messages" [class]="message.from == userName ? 'bubble-chat: me' : 'bubble-chat'">
        <p class="name"> {{message.from}}: </p>
        <div class="bubble">
          <p class="message"> {{message.msg}}</p>
        </div>
      </div>
  </div>
</div>
