<div id="peace">
  <div id="input-container">
    <div id="box">
      <input class="head" type="text" [(ngModel)]="newRoom" placeholder="Enter Room ID...">
      <input class="head" type="text" [(ngModel)]="userName" placeholder="Enter your name...">
      <button class="btn" (click)="joinRoom()">Join</button>
    </div>
    <div id="sen">
      <input class="head" type="text" [(ngModel)]="newMessage" placeholder="Enter your message...">
      <button class="btn" (click)="sendMessages()">Send</button>
    </div>
  </div>
</div>

<div class="chatbox">
  <div class="message-container">
      <div *ngFor="let message of messages" [ngClass]="message.from == userName ? 'from_me' : 'from_other'">
          <p >{{message.from}}:</p>

          <p class="message"> {{message.msg}}</p>

      </div>
  </div>
</div>
